/* Slideshow */

.slideshow {
  border-radius: 0 0 80px 80px;
  margin: 0 auto;
  overflow: hidden;
  max-width: 100%;
  /* border-radius: 0 0 30% 30%; */
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
  margin-bottom: 0;
}

.slide {
  display: inline-block;

  height: 500px;
  width: 100%;
}

/* Buttons */

.slideshowDots {
  position: relative;
  text-align: center;
  margin-top: -30px;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;

  cursor: pointer;
  margin: 0px 7px 0px 7px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #000000;
}

/* My css / Slider CSS */
#sl-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/img/mn.jpg");
  /* background: no-repeat center center; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#sl-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/img/mn2.jpg");
  /* background: no-repeat center center; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#sl-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/img/sea.jpg");
  /* background: no-repeat center center; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 750px) {
  .slide {
    display: inline-block;

    height: 330px;
    width: 100%;
  }
}
