#credit-banner {
  height: 500px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../assets/img/credit.jpg") no-repeat center center;
  background-size: cover;
}

.mini-menu {
  text-align: center;
  padding: 0 10%;
  margin-top: 5rem;
}

.mini-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5rem;
}

.mini-links > li {
  position: relative;
  background: #16c680;
  padding: 0.5rem 2rem;
  border-radius: 15px;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.mini-links > li > i {
  margin-right: 1.5rem;
  font-size: 2rem;
  pointer-events: none;
}
.mini-links > li > span {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  pointer-events: none;
}

.display {
  position: absolute;
  bottom: -40px;
  color: #16c680 !important;
  z-index: 100;
  font-size: 3rem !important;
  left: 0;
  right: 0;
}
.none {
  display: none;
}

.potr-section {
  padding: 0 5%;
  font-family: "Poppins", sans-serif;
}

.potr-section > h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.potr-section > #par-potr {
}
.potr-section > #par-potr > div {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.potr-section > #par-potr > div > i {
  text-align: center;
  width: 2rem;
  font-size: 4rem;
  margin-right: 2.5rem;
}
.potr-section > #par-potr > div > div > h1 {
  color: #16c680;
  font-size: 2rem;
}
.potr-section > #par-potr > div > div > p {
  color: #000000;
  font-size: 2rem;
}

#par-potr {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 10px; /* space between columns, change as needed */
  grid-row-gap: 10px; /* space between rows, change as needed */
}

#par-potr > div {
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 15px;
  border: #000000 solid;
}

#calc {
  margin: 5rem 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

#calc > div {
  padding: 3rem;
  background: #16c680;
  border-radius: 15px;
  width: 45%;
}
#calc > div > h1 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 2rem;
}

.slider-wrapper {
  margin-bottom: 1.5rem;
}
#sliders > p {
  font-size: 2.5rem;
}
#sliders > .slider-wrapper {
  font-size: 2.5rem;
}

.slider-wrapper > input {
  display: block;
  width: 80%;
}

#potr-info {
  padding: "0 15rem";
}

@media screen and (max-width: 1100px) {
  #par-potr > div {
    padding: 0;
    border-radius: 15px;
    border: #000000 solid;
  }
  #par-potr {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 10px; /* space between columns, change as needed */
    grid-row-gap: 10px; /* space between rows, change as needed */
  }
  #potr-info {
    padding: 0 10rem;
  }
  #credit-banner {
    height: 400px;
  }
  .mini-links > li > span {
    display: none;
  }
  .mini-links > li > i {
    margin: 1rem;
    font-size: 3rem;
  }
  .mini-links > li {
    border-radius: 80px;
  }

  #calc {
    margin: 5rem 0;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }

  #calc > div {
    padding: 3rem;
    background: #16c680;
    border-radius: 15px;
    width: 80%;
  }
  #calc > div > h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .slider-wrapper {
    margin-bottom: 1.5rem;
  }
  #sliders > p {
    font-size: 2.5rem;
  }
  #sliders > .slider-wrapper {
    font-size: 2.5rem;
  }

  .slider-wrapper > input {
    display: block;
    width: 80%;
  }

  #potr-info {
    padding: "0 15rem";
  }
}

@media screen and (max-width: 750px) {
  #potr-info {
    padding: 0 8rem;
  }
  #par-potr {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 10px; /* space between columns, change as needed */
    grid-row-gap: 10px; /* space between rows, change as needed */
  }
  #calc {
    margin: 5rem 0;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }

  #calc > div {
    padding: 3rem;
    background: #16c680;
    border-radius: 15px;
    width: 90%;
  }
  #calc > div > h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .slider-wrapper {
    margin-bottom: 1.5rem;
  }
  #sliders > p {
    font-size: 2rem;
  }
  #sliders > .slider-wrapper {
    font-size: 2rem;
  }

  .slider-wrapper > input {
    display: block;
    width: 80%;
  }

  #potr-info {
    padding: "0 15rem";
  }
}

@media screen and (max-width: 600px) {
  #potr-info {
    padding: 0 5rem !important;
  }
  #credit-banner {
    height: 300px;
  }
  .mini-links > li > span {
    display: none;
  }
  .mini-links > li > i {
    margin: 0.5rem;
    font-size: 2rem;
  }
  .mini-links > li {
    border-radius: 80px;
  }
  #calc {
    margin: 5rem 0;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }

  #calc > div {
    padding: 3rem;
    background: #16c680;
    border-radius: 15px;
    width: 80%;
  }
  #calc > div > h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .slider-wrapper {
    margin-bottom: 1.5rem;
  }
  #sliders > p {
    font-size: 1.5rem;
  }
  #sliders > .slider-wrapper {
    font-size: 1.5rem;
  }

  .slider-wrapper > input {
    display: block;
    width: 80%;
  }

  #potr-info {
    padding: "0 15rem";
  }
}

@media screen and (max-width: 400px) {
  #potr-info {
    padding: 0 2rem !important;
  }
  #calc {
    margin: 5rem 0;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }

  #calc > div {
    padding: 2rem;
    background: #16c680;
    border-radius: 15px;
    width: 80%;
  }
  #calc > div > h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .slider-wrapper {
    margin-bottom: 1.5rem;
  }
  #sliders > p {
    font-size: 1.5rem;
  }
  #sliders > .slider-wrapper {
    font-size: 1.5rem;
  }

  .slider-wrapper > input {
    display: block;
    width: 80%;
  }

  #potr-info {
    padding: "0 15rem";
  }
}
