#nav {
  width: 100%;
  padding: 0.5% 4%;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.6) 0px 8px 16px -8px;
  background: #16c680;
  z-index: 10;
  position: fixed !important;
  top: 0;
  display: flex;
  min-height: 15vh;
  margin-bottom: -15vh;
  transition: all 0.5s ease-in-out;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

#nav-wrapper {
  animation: all 0.5s ease-in-out;
  padding: 0 2rem;

  border-radius: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#nav-logo > img {
  width: 18rem;
  height: auto;
}

#nav-links {
  margin-left: 2%;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 2.1rem;
  font-family: "Poppins", sans-serif;
}

#nav-links > li {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  font-size: 2.1rem;
  cursor: pointer;
  overflow: hidden;
  border-radius: 15px;
  width: 100%;
  display: none;
  position: absolute;
  background: #ffffff;
  color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.moved {
  background: #16c680 !important;
}

#nav-mobile {
  display: none;
}

@media screen and (max-width: 1450px) {
  #nav-logo > img {
    width: 12rem;
    height: auto;
  }

  #nav-links {
    margin-left: 2%;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 1.8rem;
    font-family: "Poppins", sans-serif;
  }
}

@media screen and (max-width: 1200px) {
  body {
    overflow: hidden !important;
  }
  .show-nav {
    right: 0px !important;
  }
  #nav-logo > img {
    width: 15rem;
    height: auto;
  }

  #nav {
    width: 100%;
    padding: 0.5% 4%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    z-index: 10;
    position: sticky;
    top: 0;
    display: flex;
    min-height: 10vh;
    margin-bottom: -10vh;
    transition: all 0.5s ease-in-out;
  }

  #nav-links {
    transition: all 0.5s ease-in-out;
    background: #29b17a;
    top: 10vh;
    height: 90vh;
    right: -500px;
    position: absolute;
    margin-left: 2%;
    padding: 10px 0px 0px 30px;
    width: 500px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 2.2rem;
    font-family: "Poppins", sans-serif;
  }

  #nav-links > li {
    margin-bottom: 1.5rem;
    border-bottom: #1ae292 solid 4px;
  }

  #nav-mobile {
    margin-left: auto;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  body {
    overflow: hidden !important;
  }
  .show-nav {
    right: 0px !important;
  }
  #nav-logo > img {
    width: 15rem;
    height: auto;
  }

  #nav {
    width: 100%;
    padding: 0.5% 4%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    z-index: 10;
    position: sticky;
    top: 0;
    display: flex;
    min-height: 10vh;
    margin-bottom: -10vh;
    transition: all 0.5s ease-in-out;
  }

  #nav-links {
    transition: all 0.5s ease-in-out;
    background: #29b17a;
    top: 10vh;
    height: 90vh;
    right: -300px;
    position: absolute;
    margin-left: 2%;
    padding: 10px 0px 0px 30px;
    width: 300px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 1.8rem;
    font-family: "Poppins", sans-serif;
  }

  .dropdown-content {
    font-size: 1.5rem;
    cursor: pointer;
    overflow: hidden;
    border-radius: 15px;
    width: 100%;
    display: none;
    position: absolute;
    background: #ffffff;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  #nav-links > li {
    margin-bottom: 1.5rem;
    border-bottom: #1ae292 solid 4px;
  }

  #nav-mobile {
    margin-left: auto;
    display: block;
  }
}
